# Redis settings
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_URL=

# Telegram API Cloud (my.telegram.org)
TELEGRAM_API_ID=your-api-id
TELEGRAM_API_HASH=your-api-hash
TELEGRAM_WORKDIR=/app/sessions/

# Group settings
GROUP_TARGET_ID=your-group-target-id
GROUP_ADMIN_ID=your-group-admin-id

# LLM settings
LLM_BASE_URL=your-ai-base-url
LLM_API_KEY=your-ai-api-key
LLM_MODEL=your-ai-model

# Behavior settings
BEHAVIOR_MIN_DELAY=5
BEHAVIOR_MAX_DELAY=20
BEHAVIOR_BOT_SESSIONS=["account1", "account2", "account3"]
